<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.si.korisnici.mapper.KorisnikMapper">

    <resultMap id="korisnikMapper" type="Korisnik" autoMapping="true">
        <id property="sifraKorisnika" column="sifra_korisnika"/>
        <result property="emailKorisnika" column="email_korisnika"/>
        <result property="usernameKorisnika" column="username_korisnika"/>
        <result property="passwordKorisnika" column="password_korisnika"/>
        <collection property="privilegije" ofType="Privilegija" javaType="ArrayList">
            <id property="sifraServisa" column="au_sifra_servisa"/>
            <id property="sifraMinistarstva" column="au_sifra_ministarstva"/>
            <id property="sifraNivoaPristupa" column="au_sifra_nivoa_pristupa"/>
        </collection>
    </resultMap>

    <insert id="dodaj">
        insert into KORISNIK (sifra_korisnika, email_korisnika, username_korisnika, password_korisnika)
        values (#{sifraKorisnika}, #{emailKorisnika}, #{usernameKorisnika},
                #{passwordKorisnika})
    </insert>

    <update id="izmeni">
        update KORISNIK
        set email_korisnika    = #{emailKorisnika}, username_korisnika = #{usernameKorisnika},
            password_korisnika = #{passwordKorisnika}
        where sifra_korisnika = #{sifraKorisnika}
    </update>

    <delete id="brisiZaSifru">
        delete from KORISNIK
        where sifra_korisnika = #{sifraKorisnika}
    </delete>

    <select id="listaj" resultMap="korisnikMapper">
        <include refid="listajKorisnike"/>
    </select>

    <select id="listajZaSifru" resultMap="korisnikMapper">
        <include refid="listajKorisnike"/>
        where sifra_korisnika=#{sifraKorisnika}
    </select>

    <select id="listajZaUsername" resultMap="korisnikMapper">
        <include refid="listajKorisnike"/>
        where username_korisnika=#{usernameKorisnika}
    </select>

    <select id="listajZaUsernameIPassword" resultMap="korisnikMapper">
        <include refid="listajKorisnike"/>
        where username_korisnika=#{usernameKorisnika} and password_korisnika=#{passwordKorisnika}
    </select>

    <sql id="listajKorisnike">
        select
            K.sifra_korisnika,
            K.email_korisnika,
            K.username_korisnika,
            K.password_korisnika,
            A.sifra_servisa        as au_sifra_servisa,
            A.sifra_ministarstva   as au_sifra_ministarstva,
            A.sifra_nivoa_pristupa as au_sifra_nivoa_pristupa
        from KORISNIK as K left join AUTORIZACIJA as A on K.sifra_korisnika = A.sifra_korisnika
    </sql>


</mapper>